:root {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  margin-right: 45px;
  margin-left: 45px;
}
select {
  margin-left: 20px;
  padding: 5px;
}
div{
  padding: 20px;
}
input{
  margin-left: 20px;
  padding: 5px;
}
